# -*- css -*-
* {
    background-color: rgba(43, 46, 52, 0.95);
    background-image: none;
    color: #d3dae3;
    font-family: "Adwaita Sans", sans-serif;
    font-size: 14px;
    border: none;
}

window {
    background-color: rgba(43, 46, 52, 0.85);
}

button {
    border: 2px solid transparent;
    border-radius: 8px;
    margin: 8px;
    background-color: rgba(59, 65, 82, 0.6);
}

button:focus,
button:hover {
    background-color: #5294e2;
    color: #ffffff;
    border-color: #5294e2;
}

#lock,
#logout,
#suspend,
#reboot,
#shutdown {
    background-icon-size: 48px;
}